<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.SaleReporterMapper">

    <select id="selectAll" resultType="com.example.entity.SaleReporter">
        select `sale_reporter`.* from `sale_reporter`

        <where>

        </where>
    </select>

    <select id="selectById" resultType="com.example.entity.SaleReporter">
        select * from sale_reporter where id = #{id}
    </select>

    <delete id="deleteById">
        delete from sale_reporter where  id = #{id}
    </delete>

</mapper>